/******************************************************************
Site Name:
Author:

Stylesheet: TinyMCE Editor

This stylesheet is loaded automatically by Wordpress when compiled
and placed in the root theme directory folder as editor-style.css

For more info, check out the codex:
http://codex.wordpress.org/Editor_Style

******************************************************************/

// Main column width
.wp-block,
.wp-block[data-align="wide"],
.wp-block[data-align="full"] {
    width: 95%;
    max-width: 1240px;
}
