/******************************************************************
Site Name:
Author:

Stylesheet: Login Stylesheet

This stylesheet is loaded (if admin.php is setup in your
functions file) on the login page. This way you can style
the login page. It won't affect any other page, admin or front-end.

For more info, check out the codex:
http://codex.wordpress.org/Creating_Admin_Themes

******************************************************************/

// Sass variables
@import "partials/variables";
// Sass variables
@import "partials/typography";
body.login {
    background-color: $white;
    background-size: 300px auto;
    overflow: visible;
}

#login {
    width: 96%;
    overflow: visible;
    h1 a {}
}

@media only screen and (min-width: 481px) {
    #login {
        width: 400px;
    }
}

#login form p {
    margin-bottom: 1rem;
}

.login #login_error,
.login .message {
    border-left: 6px solid #D21C22;
    background-color: #F8F4ED;
}

.login #backtoblog,
.login #nav {
    margin-left: 0;
    padding-left: 0;
}

.login #backtoblog a,
.login #nav a,
.login .privacy-policy-page-link .privacy-policy-link {
    text-decoration: none;
    color: $orange;
    font-weight: bold;
    transition: .3s all ease;
}

.login #backtoblog a:hover,
.login #nav a:hover,
.login #backtoblog a:focus,
.login #nav a:focus,
.login h1 a:focus,
.login .privacy-policy-page-link .privacy-policy-link:hover,
.login .privacy-policy-page-link .privacy-policy-link:focus {
    text-decoration: none;
    color: $orange;
    font-weight: bold;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: .3s all ease;
    border-bottom: 1px solid $orange;
}


/*
This is the Wordpress logo in the admin area.
You'll have to load your own images and mess
with the width and height.
*/

.login h1 a {
    background: url(../images/icons/logo-marron.svg) no-repeat center center;
    width: 200px;
    height: 95px;
    text-indent: -9999px;
    overflow: hidden;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    background-size: contain;
}

.login h1 a:focus,
.login h1 a:active {
    border: none;
    box-shadow: none;
}

.login form {
    margin-left: 0;
    padding: 26px 24px 46px;
    font-weight: normal;
    background: $grey-light;
    border: none;
    box-shadow: none;
    border-radius: 10px;
}

@media only screen and (min-width: 500px) {
    .login form,
    #loginform {
        padding: 5rem 2rem 6rem 2rem;
        font-weight: normal;
        background: $grey-light;
        border: none;
        border-radius: 0;
        box-shadow: none;
        position: relative !important;
        overflow: visible;
        border-radius: 10px;
    }
    .login form:after,
    .login form:before {
        content: "";
        display: inline-block;
        height: 850px;
        width: 850px;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, -50%);
    }
}

.login label {
    color: $text-color;
    font-family: $quicksand;
    font-weight: 400;
    font-size: 15px;
}

body form .input,
.login form .input,
.login input[type="text"] {
    background-color: $white;
    display: block; //    height: 40px;
    margin-bottom: .5rem;
    font-size: .875rem;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    width: 100%;
    font-family: "Gotham", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
    font-weight: 400;
    padding: 0.65rem;
    font-size: 1rem;
    line-height: 1.625;
    color: $black;
    font-size: 15px;
    border: 1px solid transparent;
    letter-spacing: 0.5px;
    &:focus,
    &:active {
        background-color: $white;
        outline: none;
        box-shadow: none;
        border: 1px solid $black;
    }
    // end hover or focus
    // a disabled input
    &[disabled],
    &.is-disabled {
        cursor: not-allowed;
        opacity: 0.6;
        &:focus,
        &:active {}
        // end disabled focus
    }
    // end disabled input
}

.login form .input,
.login form input[type="checkbox"],
.login input[type="text"] {
    background-color: $white;
    font-size: 20px;
    letter-spacing: 0.5px;
}

#login form p.submit {
    margin-top: 65px;
    #wp-submit {
        background-color: $orange;
        border-radius: 2px;
        padding: 20px 20px 20px 19px;
        font-family: "Gotham", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.78px;
        line-height: 0.9;
        transition: all ease .3s;
        border: none;
        border-radius: 30px;
    }
    #wp-submit:hover,
    #wp-submit:focus,
    #wp-submit:active {
        background-color: $blue-dark;
        color: $white;
    }
}

// password dashicons-visibility
.login .button.wp-hide-pw .dashicons {
    top: 13px;
}

#login .wp-core-ui .button,
.wp-core-ui .button-secondary {
    color: $blue-dark;
}

#login .wp-core-ui .button-secondary:hover,
.wp-core-ui .button.hover,
.wp-core-ui .button:hover {
    color: $blue-dark;
}


/*
You'll have to override some of the default styles
but since we're referencing the id, it should be easy.
*/

#wp-submit {}


/* login button*/

// end retina media query