/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/


/*********************
TRANSITION
*********************/

/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition();
*/

@mixin transition() {
    transition: .3s all ease-in;
}

@mixin bg-image($size) {
    background-size: $size;
    background-repeat: no-repeat;
    background-position: center center;
}

@mixin border($size, $color) {
    border: $size solid $color;
}

@mixin box-shadow {
    -webkit-box-shadow: 0px 3px 14px 0px rgba(41, 50, 92, 0.15);
    -moz-box-shadow: 0px 3px 14px 0px rgba(41, 50, 92, 0.15);
    box-shadow: 0px 3px 14px 0px rgba(41, 50, 92, 0.15);
}