/*********************
MESSAGE FOR OLD BROWSERS
*********************/

// .buorg {
//   background-position: center 15px !important;
//   position: absolute;
//   position: fixed;
//   z-index: 111111;
//   width: 100%;
//   top: 0px;
//   left: 0px;
//   border-bottom: none !important;
//   text-align: left;
//   cursor: pointer;
//   background-color: $white !important;
//   font: 17px Calibri, Helvetica, Arial, sans-serif;
//   box-shadow: -5px 0 15px -5px gray !important;
//   text-align: center !important;
//   padding: 16px 16px 16px 16px !important;
// }
// .buorg div {
//   width: 80%;
//   padding: 16px 16px 16px 16px !important;
//   line-height: 1.7;
//   margin: 0 auto;
// }
// .buorg div a,
// .buorg div a:visited {
//   text-indent: 0;
//   color: white;
//   text-decoration: none;
//   box-shadow: none !important;
//   padding: 1px 10px;
//   font-weight: normal;
//   background: $green !important;
//   white-space: nowrap;
//   margin: 0 2px;
//   display: inline-block;
// }
// .buorg div a:before,
// .buorg div a:after {
//   display: none;
// }
// #buorgul {
//   background: red !important;
// }
// #buorgig {
//   background: green !important;
// }
// #buorgig,
// #buorgul,
// #buorgpermanent {
//   margin: 5px 2px !important;
// }
// @media only screen and (max-width: 768px) {
//   .buorg div {
//     width: 100%;
//     padding: 30px 16px 16px 16px !important;
//     text-indent: 0 !important;
//     line-height: 1.6 !important;
//     text-align: center !important;
//   }
//   .buorg {
//     background-position: 9px 8px;
//   }
// }