// ul.list_social {
    //     display: flex;
    //     justify-content: flex-end;

    //     li {
    //         margin-right: rem(10px);
    //         line-height: 0;
    //         position: relative;

    //         &:last-child {
    //             margin-right: 0;
    //         }

    //         a {
    //             display: block;
    //             width: 100%;
    //             height: 100%;

    //             svg {
    //                 * {
    //                     @include transition();
    //                 }
    //             }

    //             &:hover,
    //             &:focus,
    //             &:active {
    //                 svg {
    //                     * {
    //                         fill: $link-color;
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }