/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/


/*********************
FONT FACE (IN YOUR FACE)
*********************/


/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/

@font-face {
    font-family: 'Cervanttis';
    src: url('../fonts/cervanttis.eot');
    src: url('../fonts/cervanttis.eot?#iefix') format('embedded-opentype'), url('../fonts/cervanttis.woff') format('woff'), url('../fonts/cervanttis.ttf') format('truetype'), url('../fonts/cervanttis.svg#font-name') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chalet';
    src: url('../fonts/chalet.eot');
    src: url('../fonts/chalet.eot?#iefix') format('embedded-opentype'), url('../fonts/chalet.woff') format('woff'), url('../fonts/chalet.ttf') format('truetype'), url('../fonts/chalet.svg#font-name') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChaletLondon';
    src: url('../fonts/ChaletLondonNineteenEighty.ttf') format('truetype');
}


/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/

// font stacks
$sans-serif: "Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$serif: "Georgia",
Cambria,
Times New Roman,
Times,
serif;

/*
 fonts imported manually
*/

$cervanttis: 'Cervanttis',
$sans-serif;
$chalet: 'Chalet',
$sans-serif;
$montserrat-extrabold: 'Montserrat-ExtraBold',
$sans-serif;
$montserrat-semibold: 'Montserrat-SemiBold',
$sans-serif;
$montserrat-medium: 'Montserrat-Medium',
$sans-serif;
$montserrat-regular: 'Montserrat-Regular',
$sans-serif;
$chaletLondon: 'ChaletLondon',
$sans-serif;

/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/

$quicksand: 'Quicksand',
$sans-serif;

/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/

p {
    -ms-word-wrap: break-word;
    word-break: break-word; //non-standart css for webkit
    word-wrap: break-word;
    // cleaning up the ragged lines and breaks
    /*-webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
   -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";*/
}