/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/


/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

// Main colors : 
$blue-light: #00A0DF;
$blue: #004F99;
$blue-medium: #0D2A58;
$blue-dark: #000D3C;
$grey: #D0D8EB;
$grey-light: #EFF2F8;
$white: #FFFFFF;
$orange: #FFA573;
// $blue-gradient: transparent linear-gradient(180deg, #004F99 0%, #0D2A58 100%) 0% 0% no-repeat padding-box;
$black: #1F1F1F;
$red: #ff0000;
$green: #34b600;
// Pratical colors : 
$text-color: $black;
$link-color: $blue-light;
$link-hover: $blue-dark;
$border-color: $grey-light;

/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/