nav[aria-label='Breadcrumb'] {
    width: 100%;
    border-bottom: 2px solid #eff2f8;
    margin: 20px 0px;
    ul#breadcrumbs {
        padding-left: 10%;
        li {
            a,
            strong {
                font-size: 13px;
            }
        }
        li:not(:last-child) {
            &::after {
                content: '>';
                margin-left: 15px;
            }
        }
        li:last-child {
            color: $blue-light;
        }
    }
}