/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/


/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

// Base Button Template 
%btn {
    font-family: $montserrat-semibold;
    font-size: rem(14px);
    font-weight: bold;
    border-radius: 8px;
    padding: 12px 20px;
    text-transform: uppercase;
    margin: 0 !important;
    border: 0 !important;

    &:hover {
        color: $white;
        background-color: $blue-medium;
    }
}

// Fix Margin problems
.wp-block-button {
    margin-bottom: 0 !important;
}

.wp-block-buttons {
    align-content: center;
}


/**********************************************************************
GUTENBERG SECOND TEMPLATE BUTTON : add class btn-1 in back-office 
***********************************************************************/

.wp-block-buttons {
    .btn-1 {
        .wp-block-button__link {
            @extend %btn;

            &:hover {
                color: $white;
                background-color: $blue-medium;
            }
        }
    }
}


/**********************************************************************
GUTENBERG SECOND TEMPLATE BUTTON : add class btn-2 in back-office
***********************************************************************/

.wp-block-buttons {
    .btn-2 {
        .wp-block-button__link {
            @extend %btn;
            background-color: $blue-medium;

            &:hover {
                color: $white;
                background-color: $blue-dark;
            }
        }
    }
}


/**********************************************************************
GUTENBERG SECOND TEMPLATE BUTTON : add class btn-3 in back-office
***********************************************************************/

.wp-block-buttons {
    .btn-3 {
        .wp-block-button__link {
            @extend %btn;
            background-color: $blue-light;

            &:hover {
                color: $blue-light;
                background-color: $white;
            }
        }
    }
}


/**********************************************************************
GUTENBERG SECOND TEMPLATE BUTTON : add class btn-arrow in back-office
***********************************************************************/

.wp-block-buttons {
    .btn-arrow {
        .wp-block-button__link {
            @extend %btn;
            content: url(../images/icons/arrow-left.svg);
            width: 60px;
            height: 60px;
            border-radius: 100px;
            background-color: $white;

            &:hover {
                content: url(../images/icons/arrow-left-white.svg);
                background-color: $blue-medium;
            }
        }
    }
}


/**************
GENERIC BUTTON 
***************/

.wp-block-button__link {
    @extend %btn;
}


/***********************
BUTTON BLUE HOVER WHITE
***********************/

.btn-blue-hover-white {
    @extend %btn;
    color: $white !important;
    background-color: $blue-light!important;

    &:hover {
        color: $blue-light !important;
        background-color: $white!important;
    }
}

/**************************
BUTTON BLUE HOVER DARK BLUE
***************************/

.btn-blue-hover-dark-blue {
    @extend %btn;
    color: $white !important;
    background-color: $blue-light!important;

    &:hover {
        color: $white;
        background-color: $blue-dark !important;
    }
}



/***********************
BUTTON BLUE MEDIUM HOVER DARK
***********************/

.btn-blue-medium-hover-dark {
    @extend %btn;
    background-color: $blue-medium!important;

    &:hover {
        color: $white!important;
        background-color: $blue-dark!important;
    }
}


/***********************
SMALL BUTTON HOVER BLUE
***********************/

.button-link-small-blue {
    @extend %btn;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    color: $white !important;
    background-color: $orange;

    &:hover {
        color: $white !important;
        background-color: $blue-dark;
    }

    &::after {
        content: url(../images/icons/right-white.svg);
        width: 5px;
        margin-left: 12px;
    }
}


/************
SEARCH BUTTON
*************/

.button-search {
    @extend %btn;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: $white;
    background-color: $orange;

    &::after {
        content: url(../images/icons/search.svg);
        width: 12px;
        margin-left: 12px;
    }
}