.modal {

  #modal {
    display: none;
  }

  // s'applique lorsque le modal est actif
  .active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    #modal {
      display: block;

      .close {
        width: 20px;
        height: 20px;
        position: absolute;
        top: rem(30px);
        right: rem(50px);
        cursor: pointer;
        padding: 0;
        border: none;
        border-radius: 0;
        background-color: transparent;
        @include bg-image(contain);

        &:hover, &:active, &:focus {
          opacity: 0.7;
        }

        &:active, &:focus {
          outline: dashed $white 1px;
        }
      }
    }
  } // end .active
}
