div#page-header {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(255, 255, 255, 1);
        mask-image: url('../images/pages/home/croix-pattern.png');
        mask-size: 80%;
        mask-position: center center;
        height: 100%;
        width: 50%;
        mask-repeat: no-repeat;
        transform: rotate(-180deg);
        z-index: 1;
    }
    div.page-header-branchet {
        position: absolute;
        top: 0;
        background-color: rgba(255, 255, 255, 1);
        mask-image: url('../images/pages/home/symbole-branchet.svg');
        mask-size: cover;
        mask-position: top left;
        height: 100%;
        width: 100%;
        max-width: 170px;
        mask-repeat: no-repeat;
        z-index: 1;
        left: 25%;
        transform: translateX(-50%);
    }
    div.page-header-inner {
        background: transparent linear-gradient(179deg, #004f99 0%, #0d2a58 100%) 0% 0% no-repeat padding-box;
        height: 120px;
        width: 100%;
        position: relative;
    }
    div.page-header-wave {
        &::after {
            position: absolute;
            left: 0;
            bottom: -8px;
            width: 100%;
            content: url('../images/pages/home/wave-branchet-top.svg');
        }
    }
}