.footer {
    .footer-top {
        .footer-container {
            flex-direction: row;
            justify-content: space-between;
            text-align: left;

            .menu-footer-top-container,
            .menu-footer-bottom-container {
                padding: 0;
                margin-bottom: 0;
            }

            .contact {
                .list_social {
                    a {
                        width: 38px;
                        height: 38px;

                        svg {
                            height: 20px;
                            width: 20px;
                        }
                    }
                }
            }
        }
    }

    .footer-bottom {
        .footer-container {
            flex-direction: row;
            justify-content: space-between;

            .menu {
                flex-direction: row;

                .menu-item {
                    padding: 0 10px;

                    &:nth-child(1),
                    &:nth-child(2) {
                        border-right: 1px solid $blue;
                    }
                }
            }
        }
    }
}