.page-template-page-home {
    section.home-header {
        position: relative;
        .wrap-content {
            padding: 70px 0;
        }
        h1 {
            text-align: left;
            font-size: rem(40px);
            line-height: rem(50px);
        }
        .button-section {
            text-align: left;
        }
        &::after {
            position: absolute;
            left: 0;
            bottom: -8px;
            width: 100%;
            content: url('../images/pages/home/wave-branchet-top.svg');
        }
    }
    section.offers {
        .offers-container {
            display: flex;
            flex-direction: row;
            align-items: initial;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    section.benefit {
        .wrap {
            padding: 40px 0 85px;
        }
        .wrap-content {
            .benefit-title {
                h3 {
                    color: $blue-medium;
                    margin: 0 0 80px;
                }
            }
            .application-container {
                .box {
                    width: rem(170px);
                }
            }
        }
    }
    section.cta-1 {
        .cta-container {
            flex-direction: row;
            .cta-txt {
                h2 {
                    margin: rem(100px) 0 rem(60px);
                }
            }
            .cta-img {
                img {
                    width: 460px;
                    height: 460px;
                }
            }
        }
    }
    section.cta-2 {
        .cta-container {
            .cta-txt {
                width: 50%;
            }
        }
    }
    section.blog {
        .single-container {
            width: 45%;
        }
    }
    section.infos {
        background-color: $blue-medium;
        .wrap {
            padding: rem(80px) 0 rem(60px);
        }
        .infos-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .infos-box {
            width: 32%;
            padding: rem(30px) rem(25px);
            h4 {
                margin: 0 0 rem(30px) 0;
                text-align: center;
                text-transform: uppercase;
            }
            p {
                text-align: center;
                font-size: rem(15px);
            }
        }
    }
}