.wp-block-quote {
    margin: 50px 0px;
    position: relative;
    background-color: $blue-light;
    color: $white;
    padding: rem(40px) ;
    font-family: $montserrat-regular !important;
    font-weight: normal;
    p {
        position: relative;
        font-size: rem(15px);
        line-height: 1.78;
    }
    &:before {
        background-image: url(../images/icons/left-quote.svg);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: 10px;
        top: 10px;
        width: 25px;
        height: 20px;
        content: "";
    }
    &:after {
    width: 185px;
    height: 136px;
    background: url(../images/icons/right-quote-bg.png);
    content: "";
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    text-align: center;
    float: right;
    display: inline-block;
    right: 33px;
    bottom: 0px;
    background-size: auto 100%;
    opacity: .5;
    }
}