// https://www.billerickson.net/wordpress-color-palette-button-styling-gutenberg/
// Gutenberg color options
// -- see editor-color-palette in functions.php
$colors: ('blue-light': $blue-light, 'blue': $blue, 'blue-medium': $blue-medium, 'blue-dark': $blue-dark, 'grey': $grey, 'grey-light': $grey-light, 'white': $white, 'orange': $orange, 'black': $black);

// general colors
@each $name,
$color in $colors {
    .has-#{$name}-color {
        color: $color;
    }

    .has-#{$name}-background-color {
        background-color: $color;
    }
}

// buttons
.wp-block-button__link {
    @include transition();

    &:hover {
        text-decoration: none;
    }

    &:not(.has-text-color) {
        color: white;

        &:hover {
            color: white;
        }
    }

    &:not(.has-background) {
        $default: nth(nth($colors, 1), 2); // first color in $colors array
        background-color: $default;

        &:hover,
        &:focus {
            background-color: $blue-medium;
        }
    }

    @each $name,
    $color in $colors {

        &.has-#{$name}-color:hover,
        &.has-#{$name}-color:focus {
            color: $color;
        }

        &.has-#{$name}-background-color:hover,
        &.has-#{$name}-background-color:focus {
            background-color: darken($color, 20%);
        }
    }
}