section#expert{
    h2{
        text-align: center;
    }
    .expert-btn{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        #expert-btn1,
        #expert-btn2{
            padding: 25px 25px;
            text-align: center;
            background-color: $white;
            color: $blue;
            border-radius: 8px;
            border: 1px solid $blue ;
        }

        .active{
            color: $white !important;
            background-color: $blue !important;
        }

        
    }

    .expert-section1-text,
    .expert-section2-text{
        margin-bottom: 50px !important;
    }

    .hidden{
        display: none !important;
    }
}

@media only screen and (min-width: 768px) {
    section#expert{
        .expert-btn{
            flex-direction: row;

            #expert-btn1,
            #expert-btn2{
                width: 49%;
            }
        }
    }
}

