.wp-block-image {

    img {
        border-radius: 10px;
    }


    &.alignleft,
    .alignleft {
        margin-right: 1.5em;
        display: inline;
        float: left;
    }

    &.aligncenter,
    .aligncenter {
        margin-right: auto;
        margin-left: auto;
    }

    &.alignright,
    .alignright {
        margin-left: 1.5em;
        display: inline;
        float: right;
    }

    &.alignwide,
    .alignwide {}

    &.alignfull,
    .alignfull {}

    &.size-full,
    .size-full {}

    &.size-auto,
    .size-auto,
    &.size-full,
    .size-full,
    &.size-large,
    .size-large,
    &.size-medium,
    .size-medium,
    &.size-thumbnail,
    .size-thumbnail {
        max-width: 100%;
        height: auto;
    }
}