p.has-small-font-size {
    font-size: rem(13px);
    line-height: ren(23px);
}

p.has-normal-font-size {
    font-size: rem(15px);
    line-height: rem(25px);
}

p.has-medium-font-size {}

p.has-large-font-size {}

p.has-huge-font-size {}