// .page-template-page-styleguide {
// Styleguide Example for button with colored and dark background
.styleguide-colorate-bg {
    background-color: $blue-light;
    display: flex;
    justify-items: center;
    justify-content: space-around;
    padding: 15px;
}

.styleguide-colorate-bg-dark {
    background-color: $blue-dark;
    display: flex;
    justify-items: center;
    justify-content: space-around;
    padding: 15px;
    margin-left: 0.2em !important;
}

// ::Selection
.styleguide-selection {
    background-color: $blue-dark;
    color: $white;
    display: inline;
    border-top: 5px solid $blue-dark;
    border-bottom: 5px solid $blue-dark;
}

// }