figure.wp-block-table {
    table {
        width: 100%;
        border: 1px solid $grey;
        margin-bottom: 1.5em;
        background-color: transparent !important;
        tr {
            border-bottom: 1px solid $grey;
        }
        td,
        th {
            padding: 7px;
            border-right: 1px solid $grey;
            &:last-child {
                border-right: 0;
            }
        }
        // table header
        thead {
            tr {
                th {}
            }
        }
        // table body
        tbody {
            tr {
                &:nth-child(even) {}
                td {}
            }
        }
        // table footer
        tfoot {
            tr {
                td {}
            }
        }
        caption {
            margin: 0 0 7px;
            font-size: 0.75em;
            color: $grey;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
}