.wp-testimonial {
    display: flex;

    .testimonial {
        width: 70%;
        padding: 2.5rem;

        img {
            width: 20px;
            height: 20px;
            object-fit: contain
        }

    }

    .testimonial-image {
        width: 30%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}