/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

h1,
.h1 {
    font-size: rem(40px);
    line-height: rem(50px);
}

h2,
.h2 {
    font-size: rem(34px);
    line-height: rem(44px);
}

h3,
.h3 {
    font-size: rem(20px);
    line-height: rem(28px);
}

h5,
.h5 {}

.wrap {
    max-width: 62rem;
    width: 100%;
}