/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {
    font-family: $montserrat-regular;
    font-size: 100%;
    line-height: 1.5;
    color: $text-color;
    background-color: $white;
    -webkit-font-smoothing: antialiased;
     ::-moz-selection {
        /* Code for Firefox */
        background-color: $blue-dark;
        color: $white;
    }
     ::selection {
        background-color: $blue-dark;
        color: $white;
    }
    // page transition
    &.body_animate_in {
        -webkit-animation: fadeIn .5s ease-in;
        animation: fadeIn .5s ease-in;
    }
    &.body_animate_out {
        -webkit-transition: opacity .5s;
        transition: opacity .5s;
        opacity: 0;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}


/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}


/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}


/* for sites that are read right to left (i.e. hebrew) */

.blog {}


/* blog template page */

.archive {}


/* archive page */

.date {}


/* date archive page */

.date-paged-1 {}


/* replace the number to the corresponding page number */

.search {}


/* search page */

.search-results {}


/* search result page */

.search-no-results {}


/* no results search page */

.search-paged-1 {}


/* individual paged search (i.e. body.search-paged-3) */

.single {}


/* single post page */

.postid-1 {}


/* individual post page by id (i.e. body.postid-73) */

.single-paged-1 {}


/* individual paged single (i.e. body.single-paged-3) */

.attachment {}


/* attatchment page */

.attachmentid-1 {}


/* individual attatchment page (i.e. body.attachmentid-763) */

.attachment-mime-type {}


/* style mime type pages */

.author {}


/* author page */

.author-nicename {}


/* user nicename (i.e. body.author-samueladams) */

.author-paged-1 {}


/* paged author archives (i.e. body.author-paged-4) for page 4 */

.category {}


/* category page */

.category-1 {}


/* individual category page (i.e. body.category-6) */

.category-paged-1 {}


/* replace the number to the corresponding page number */

.tag {}


/* tag page */

.tag-slug {}


/* individual tag page (i.e. body.tag-news) */

.tag-paged-1 {}


/* replace the number to the corresponding page number */

.page-template {}


/* custom page template page */

.page-template-page-php {}


/* individual page template (i.e. body.page-template-contact-php */

.page-paged-1 {}


/* replace the number to the corresponding page number */

.page-parent {}


/* parent page template */

.page-child {}


/* child page template */

.parent-pageid-1 {}


/* replace the number to the corresponding page number */

.logged-in {}


/* if user is logged in */

.paged {}


/* paged items like search results or archives */

.paged-1 {}


/* individual paged (i.e. body.paged-3) */


/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
    width: 90%;
    margin: 0 auto;
}


/*********************
LINK STYLES
*********************/

a,
a:visited {
    color: inherit;
    text-decoration: none;
    @include transition();
    /* on hover */
    &:hover,
    &:focus {
        color: $link-hover;
    }
    /* on click */
    &:active {}
    /* mobile tap color */
    &:link {
        /*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
    }
}


/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    font-family: $montserrat-extrabold;
    text-rendering: optimizelegibility;
    font-weight: 500;
    /*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/
    /* removing text decoration from all headline links */
    a {
        text-decoration: none;
    }
}

h1,
.h1 {
    font-size: rem(26px);
    line-height: rem(34px);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $blue-light;
    margin-top: 0;
    margin-bottom: 80px;
}

h2,
.h2 {
    font-size: rem(24px);
    line-height: rem(30px);
    letter-spacing: 1px;
    color: $blue-medium;
    margin-top: 80px;
    margin-bottom: 60px;
}

h1.main-title,
h2.main-title {
    color: $blue-light;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 20px;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 0;
        width: rem(100px);
        border-bottom: 3px solid $blue-light;
    }
}

h3,
.h3 {
    font-size: rem(21px);
    line-height: rem(31px);
    letter-spacing: 1px;
    color: $blue-light; //ou $blue-medium (maquette)
    margin-top: 60px;
    margin-bottom: 30px;
}

h4,
.h4 {
    font-size: rem(18px);
    line-height: rem(26px);
    letter-spacing: 1px;
    color: $blue-dark;
    margin-top: 30px;
    margin-bottom: 30px;
}

h5,
.h5 {
    font-size: rem(12px);
    line-height: 1.25;
    font-weight: bold;
    text-transform: uppercase;
}


/*********************
POSTS & CONTENT STYLES
*********************/

.single-title,
.page-title,
.entry-title {
    margin: 0;
}

.single-title {}

.page-title {}

.entry-title {}

.archive-title {}


/* want to style individual post classes? Booya! */

.post-id {}


/* post by id (i.e. post-3) */

.post {}


/* general post style */

.page {}


/* general article on a page style */

.attachment {}


/* general style on an attatchment */

.sticky {}


/* sticky post style */

.category-slug {}


/* style by category (i.e. category-videos) */

.tag-slug {}


/* style by tag (i.e. tag-news) */


/* post meta */

.byline {
    color: $grey;
    font-style: italic;
    margin: 0;
    time {}
}


/* general settings */

p,
a {
    font-size: rem(14px);
    line-height: rem(26px);
    font-weight: 500;
}


/* entry content */

.entry-content {
    padding: 3.5rem 0;
    p,
    a {
        font-size: rem(14px);
        line-height: rem(26px);
        margin: 0 0 1rem;
    }
    a {
        color: $link-color;
        border-bottom: 1px solid $link-color;
        &:hover {
            color: $link-hover;
            border-bottom: 1px solid $link-hover;
        }
    }
    ul {
        li {
            font-size: rem(15px);
            line-height: rem(26px);
            font-weight: 500;
            margin: 0 0 rem(8px) rem(26px);
            color: $black;
            &::before {
                content: "\2022";
                color: $blue-light;
                font-size: rem(50px);
                vertical-align: text-bottom;
                display: inline-block;
                width: rem(6px);
                margin-left: -26px;
                margin-right: 30px;
            }
        }
    }
    ol {
        counter-reset: li;
        li {
            color: $black;
            position: relative;
            counter-increment: li;
            font-size: rem(15px);
            margin: 0 0 rem(8px) 0;
            &::before {
                content: counter(li);
                font-size: rem(15px);
                line-height: 1.73;
                font-weight: bold;
                color: $blue-light;
                font-family: $montserrat-regular;
                display: inline-block;
                width: 1em;
                margin-right: 20px;
            }
            &::after {
                content: ".";
                position: absolute;
                left: 0;
                font-weight: bold;
                color: $blue-light;
                font-family: $montserrat-regular;
                display: inline-block;
                width: 1em;
                margin-left: 0.7em;
                margin-top: 0.1em;
            }
        }
    }
    // https://developer.mozilla.org/fr/docs/Web/HTML/Element/dt
    dl {
        dt {}
        dd {
            margin-left: 0;
            font-size: 0.9em;
            color: #787878;
            margin-bottom: 1.5em;
        }
    }
    img {
        margin: 0 0 1.5em 0;
        max-width: 100%;
        height: auto;
    }
    /*
	image alignment on a screen this size may be
	a bit difficult. It's set to start aligning
	and floating images at the next breakpoint,
	but it's up to you. Feel free to change it up.
	*/
    .alignleft,
    img.alignleft {}
    .alignright,
    img.alignright {}
    .aligncenter,
    img.aligncenter {}
    .size-auto,
    .size-full,
    .size-large,
    .size-medium,
    .size-thumbnail {}
    pre {
        background: $black;
        color: $grey;
        font-size: 0.9em;
        padding: 1.5em;
        margin: 0 0 1.5em;
        border-radius: 3px;
    }
}


/* end .entry-content */

.wp-caption {
    max-width: 100%;
    background: #eee;
    padding: 5px;
    /* images inside wp-caption */
    img {
        max-width: 100%;
        margin-bottom: 0;
        width: 100%;
    }
    p.wp-caption-text {
        font-size: 0.85em;
        margin: 4px 0 7px;
        text-align: center;
    }
}


/* end .wp-caption */


/* image gallery styles */

.gallery {
    dl {
        a {}
        img {}
    }
    dt {}
    dd {}
}


/* end .gallery */


/* gallery caption styles */

.gallery-caption {}

.size-full {}

.size-large {}

.size-medium {}

.size-thumbnail {}

// the tag output
.tags {
    margin: 0;
}


/**********
BREADCRUMBS
***********/

.breadcrumbs {
    display: flex;
    li {
        margin-right: 1rem;
    }
}


/***************
GUTENBERG BLOCS
****************/

.wp-block-separator {
    border: 2px solid $blue-light;
    max-width: 100px;
}