.page-template-page-home {
    section.home-header {
        height: 520px;

        .wrap {
            .wrap-content {
                padding-top: 100px;
                padding-bottom: 0px;
                display: flex;
                overflow: hidden;
                height: rem(550px);
            }

            h1 {
                font-size: rem(40px);
            }

            .button-section {
                margin-bottom: 10px;
            }

            // On affiche l'image hero en vue desktop
            .header_section_image {
                display: block;
                margin-top: -50px;
                background: url(../images/pages/home/croix-pattern.png) no-repeat;
                background-size: contain;
                max-height: 450px;

                // Logo branchet
                .header_section_image_logo {
                    background: url(../images/pages/home/symbole-branchet.svg) no-repeat;
                    background-size: contain;
                    margin-left: 50px;
                    height: 450px;
                    width: 450px;
                    z-index: 1;
                }

                // Image parametrable back-office
                img {
                    z-index: 9999;
                    margin-top: -440px;
                    width: 457px;
                    height: 457px;
                    align-items: center;
                }
            }
        }

        &::after {
            bottom: -9px;
        }
    }

    section.offers {
        .wrap {
            padding: rem(20px) 0 0 0;
        }

        .main-title {
            margin-bottom: rem(80px);
        }
    }

    section.benefit {
        .wrap-content {
            .application-container {
                .box {
                    width: rem(225px);
                }
            }
        }
    }

    section.cta-2 {
        background-size: 100% auto;
        margin-top: -2%;
    }

    section.speciality {
        .wrap {
            padding: rem(100px) 0 rem(40px);
        }

        h2 {
            margin: 0 0 rem(80px) 0;
        }

        .speciality-container {
            flex-direction: row;
            justify-content: space-between;

            .plateau-technique-lourd,
            .specialites-medicales {
                width: rem(475px);

                h3 {
                    margin: 0 0 rem(40px) 0;
                }
            }
        }
    }

    section.infos {

        .wrap {
            padding: rem(80px) 0;
        }

        .infos-box {
            width: rem(320px);
        }
    }
}