#inner-header {
    div.content-inner-header {
        width: 100%;
        height: 85px;
        padding: 0;
        align-items: center;
        justify-content: space-evenly;
        #logo {
            order: -1;
        }
        #burger {
            display: none;
        }
        // Navbar Desktop 
        #navigation {
            visibility: visible;
            display: block;
            position: relative;
            font-family: $montserrat-medium;
            text-transform: uppercase;
            width: 100%;
            background-color: $blue-medium;
            color: $white;
            top: 0;
            opacity: 1;
            left: 0;
            // On cache le menu Liens externe en version mobile
            .externals-links-mobile {
                display: none;
            }
            // Différents menu hoverable
            ul#menu-main-menu {
                margin: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                // Un élément du menu
                >li.menu-item {
                    padding: 15px 15px;
                    position: relative;
                    margin-bottom: 0;
                    >a {
                        font-weight: 600;
                    }
                    &.menu-item-has-children {
                        // STYLE DE BASE D'UN SOUS-MENU
                        >ul.sub-menu {
                            display: flex;
                            flex-direction: column;
                            width: max-content;
                            left: 0;
                            visibility: hidden;
                            opacity: 0;
                            left: 0px;
                            top: 50px;
                            justify-content: space-evenly;
                            position: absolute;
                            margin: 0;
                            padding: 50px 45px 15px 45px;
                            background-color: $blue-medium;
                            li.menu-item-has-children {
                                margin-right: 20px;
                                width: 80%;
                                >a {
                                    font-size: 15px;
                                    color: $blue-light;
                                }
                                ul {
                                    opacity: 1;
                                    li {
                                        margin-bottom: 15px;
                                        a {
                                            text-transform: capitalize;
                                            font-size: 14px;
                                        }
                                        &:before {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                        &:hover,
                        &:active,
                        &:focus {
                            // Transitions
                            >ul.sub-menu {
                                visibility: visible;
                                display: flex;
                                opacity: 1;
                                transition: .3s ease-out;
                                li {
                                    a {
                                        &:hover {
                                            color: $blue-light !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &::after {
                        display: none;
                    }
                }
                // Style du menu "Offres"
                li.menu-offres {
                    &.menu-item-has-children {
                        >ul.sub-menu {
                            display: flex;
                            flex-direction: column;
                            width: 750px;
                            // Elements du menu Offres
                            li {
                                a {
                                    color: $white;
                                    font-size: 15px;
                                }
                                // Elements avec sous-menu
                                &.menu-item-has-children {
                                    width: 40%;
                                    margin-bottom: 0;
                                    padding-bottom: 25px;
                                    transition: .3s ease;
                                    a{
                                        color: $white;
                                    }
                                    &:hover,
                                    &:active {
                                        transition: .3s ease;
                                        >a {
                                            color: $blue-light;
                                        }
                                        ul {
                                            display: flex;
                                            flex-direction: column;
                                            position: absolute;
                                            top: 37px;
                                            height: 100%;
                                            width: 50%;
                                            left: 40%;
                                            animation: sub-menu-appear .3s ease;
                                        }
                                        &:after {
                                            position: relative;
                                            top: 0px;
                                            left: 5%;
                                            font-weight: 700;
                                            content: url(../images/header/arrow-right.svg);
                                        }
                                    }
                                }
                                ul {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                // Style du menu "Spécialités"
                li.menu-speciality {
                    &.menu-item-has-children {
                        >ul.sub-menu {
                            flex-direction: row;
                            width: 750px;
                            left: -135px;
                        }
                    }
                }
                a {
                    &:hover {
                        color: $white;
                    }
                }
            }
            div.sub-header {}
            div.hotline {
                display: none;
            }
        }
    }
}

.externals-links {
    display: block;
    background-color: $blue-dark;
    .menu {
        width: 100%;
        max-width: 64rem;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        li {
            border-style: solid;
            border-width: 0 1px 0 1px;
            border-color: rgb(13, 42, 88);
            background-color: rgba(0, 0, 0, 0);
            a {
                padding: 0px 20px 0px 20px;
                color: $white;
                font-size: 11px;
                &:after {
                    margin-left: 5px;
                    content: url(../images/header/extern.svg);
                }
            }
            &:before,
            &:after {
                display: none;
            }
        }
        // Pour eviter les bordures à 2px au lieu de 1px
        li:first-child {
            border-width: 0px 0px 0px 1px;
        }
        li:last-child {
            border-width: 0px 1px 0px 0px;
        }
    }
}

@keyframes sub-menu-appear {
    from {
        left: 35%;
        opacity: 0;
    }
    to {
        left: 40%;
        opacity: 100%;
    }
}