.single-post {
    // Post content
    article {
        margin-top: 70px;
    }
    // Post title
    h1.entry-title {
        position: relative;
        text-align: center;
        padding-bottom: 20px;
        a {
            font-size: rem(32px);
            line-height: rem(34px);
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $blue-light;
            margin-top: 0;
            margin-bottom: 80px;
        }
        &:before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            bottom: 0;
            width: 6.25rem;
            border-bottom: 3px solid #00A0DF;
        }
    }
    h2{        
        font-size:rem(28px);        
    }
    .wp-block-quote {}
}