.footer {
    color: $white;

    a:hover {
        color: $link-color;
        @include transition();
    }

    .footer-top {
        background-color: $blue-medium;

        .footer-logo {
            width: 160px;
            height: 45px;
            object-fit: contain;
        }

        .wrap {
            padding: 60px 0 90px;
        }

        .footer-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            a {
                text-transform: uppercase;
                font-size: rem(15px);
                margin-bottom: rem(10px);
            }

            .menu-footer-top-container,
            .menu-footer-bottom-container {
                margin-bottom: 25px;
            }

            .menu {
                margin: 0;
            }

            .contact {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .phone {
                    border: 2px solid $white;
                    border-radius: 5px;
                    padding: 8px 15px;
                    align-self: center;
                    margin-bottom: rem(20px);
                    display: flex;
                    align-items: center;

                    svg {
                        height: 15px;
                        width: 15px;
                        margin-right: 10px;
                    }

                    &:hover {
                        color: $white;
                    }
                }

                .list_social {
                    margin: 0;
                    display: flex;
                    justify-content: center;

                    a {
                        background-color: $blue-light;
                        border-radius: 50%;
                        width: 28px;
                        height: 28px;
                        position: relative;
                        margin: 0 2.5px;

                        &:hover {
                            background-color: $blue-dark;
                        }

                        svg {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            height: 15px;
                            width: 15px;
                        }
                    }
                }
            }
        }
    }

    .footer-bottom {
        background-color: $blue-dark;

        .wrap {
            padding: 10px 0;
        }

        .footer-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            p,
            a {
                font-size: rem(13px);
            }

            .menu {
                display: flex;
                flex-direction: column;

                .menu-item {
                    padding: 0 10px;
                }
            }

            .made_by {
                display: flex;
                align-items: center;

                span {
                    margin-right: rem(5px);
                }

                &:hover {
                    color: $white;
                }
            }
        }
    }
}