
    section.home-header {
        background: transparent linear-gradient(179deg, #004f99 0%, #0d2a58 100%) 0% 0% no-repeat padding-box;

        .wrap-content {
            padding: 50px 0px;
        }

        h1 {
            margin-bottom: 50px;
            text-transform: none;
            text-align: center;
            color: $white;
            font-size: rem(24px)
        }

        .button-section {
            text-align: center;
        }

        // On cache l'image hero en vue mobile/tablette
        .header_section_image {
            display: none;
        }
    }

    section.offers {

        .main-title {
            margin-bottom: rem(40px);
        }

        .offers-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .offer-box {
            background-color: $grey-light;
            width: rem(320px);
            position: relative;
            margin-bottom: rem(60px);

            &:hover {
                .offer-recto img {
                    opacity: 0;
                }

                .offer-verso {
                    opacity: 1;
                }

                h4:before {
                    opacity: 0;
                }
            }

            h4 {
                margin: 0;
                padding: rem(40px);
                text-align: center;
                text-transform: uppercase;
                position: relative;
                z-index: 3;

                &:before {
                    content: url("../images/icons/more-big.svg");
                    position: absolute;
                    top: 80px;
                    left: 50%;
                    transform: translate(-50%);
                    padding: 14px 16px 10px;
                    background-color: $blue-light;
                    border-radius: 50%;
                    @include transition;
                }
            }

            .offer-recto {
                position: relative;
                z-index: 2;

                img {
                    opacity: 1;
                    max-width: 100%;
                    display: block;
                    @include transition;
                }
            }

            .offer-verso {
                position: absolute;
                top: rem(60px);
                padding: rem(30px) rem(40px) rem(50px);
                z-index: 3;
                opacity: 0;
                @include transition;

                ul {
                    li {
                        text-align: left;
                        font-size: rem(13px);
                        line-height: rem(22px);
                        font-weight: 500;
                        margin: 0 0 0 rem(10px);
                        color: $black;

                        &::before {
                            content: "\2022";
                            color: $blue-light;
                            font-size: rem(50px);
                            vertical-align: text-bottom;
                            display: inline-block;
                            width: rem(6px);
                            margin-left: -25px;
                            margin-right: 20px;
                        }
                    }
                }

                a {
                    font-size: 11px;
                    margin-left: 20px;
                    padding: 10px 15px;
                }
            }
        }
    }

    section.benefit {
        .wrap {
            padding: 20px 0 65px;
        }

        .wrap-content {
            text-align: center;

            .benefit-title {
                text-align: center;
                width: 100%;

                h3 {
                    color: $blue-medium;
                    margin: 0 0 50px;
                    text-transform: uppercase;
                }
            }

            .application-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: rem(135px);

                    .container-img {
                        position: relative;
                        width: rem(75px);
                        height: rem(75px);
                        border-radius: 50%;

                        svg {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            height: 36px;
                            width: 36px;
                        }
                    }
                }

                .box:nth-child(1) {
                    .container-img {
                        background-color: $blue;

                        svg {

                            .st0,
                            .st1 {
                                fill: $white
                            }
                        }
                    }
                }

                .box:nth-child(2) {
                    .container-img {
                        background-color: $blue-light;
                    }

                    svg {

                        .st0 {
                            fill: $white
                        }
                    }
                }

                .box:nth-child(3) {
                    .container-img {
                        background-color: $grey-light;

                        svg {

                            .st0 {
                                fill: #004F99;
                            }

                            .st1 {
                                fill: #00A0DF;
                            }
                        }
                    }
                }

                .box:nth-child(4) {
                    .container-img {
                        background-color: $blue-medium;
                    }

                    svg {

                        .st0 {
                            fill: $white
                        }
                    }
                }
            }
        }
    }

    section.cta-1 {
        background-color: $blue-light;
        position: relative;
        z-index: 0;

        .cta-container {
            display: flex;
            flex-direction: column;

            .cta-txt {
                display: flex;
                flex-direction: column;

                h2 {
                    color: $white;
                    margin: rem(60px) 0 rem(30px);
                }
            }

            .cta-img {
                display: flex;
                justify-content: center;

                img {
                    width: 75%;
                    height: 75%;
                }
            }
        }

        .cta-button {
            margin-bottom: rem(10px);

            a {
                color: $white;
            }
        }
    }

    section.cta-2 {
        background: url(../images/pages/home/man.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 0;
        margin-top: -30px;
        position: relative;

        h2,
        p {
            color: $white;
            margin: 0;
        }

        .cta-container {
            display: flex;
            justify-content: flex-end;

            .cta-txt {
                p {
                    margin: 25px 0 50px;
                }
            }
        }

        .cta-button {
            a {
                color: $white;
                background-color: $blue-light;

                &:hover {
                    background-color: $white;
                    color: $blue-light;

                    .img-btn {
                        content: url(../images/pages/home/document-blue.svg);
                        @include transition;
                    }
                }

                .img-btn {
                    margin-bottom: -3px;
                    content: url(../images/pages/home/document.svg);
                    height: 15px;
                }
            }
        }
    }

    section.speciality {
        background-color: $grey-light;

        .wrap {
            padding: rem(80px) 0 rem(20px);
        }

        h2 {
            margin: 0 0 rem(60px) 0;
        }

        .speciality-container {
            display: flex;
            flex-direction: column;

            .plateau-technique-lourd,
            .specialites-medicales {
                width: 100%;
                margin: 0 0 rem(60px) 0;

                h3 {
                    text-align: center;
                    color: $blue-medium;
                    text-transform: uppercase;
                    font-size: rem(21px);
                    margin: 0 0 rem(20px) 0;
                }
            }
        }

        .category-container {
            a {
                display: flex;
                align-items: center;
                font-size: rem(13px);
                background-color: $white;
                padding: rem(5px) rem(20px);
                margin-bottom: rem(10px);
                border-radius: 6px;
                position: relative;

                svg#more {
                    margin-right: rem(20px);

                    .st0 {
                        fill: $blue-light;
                    }
                }

                svg#arrow-right {
                    position: absolute;
                    right: 20px;

                    .st0 {
                        fill: $blue-light;
                    }
                }

                &:hover {
                    color: $white;
                    background-color: $blue-light;

                    svg#more {
                        margin-right: rem(20px);

                        .st0 {
                            fill: $white;
                        }
                    }
                }
            }
        }
    }

    section.blog {
        .blog-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .single-container {
            width: 100%;
            position: relative;
            margin-bottom: 40px;

            .category-container {
                position: absolute;
                z-index: 2;
                top: 15px;
                left: 15px;

                h4 {
                    display: inline;
                    text-transform: uppercase;
                    font-size: rem(13px);
                    color: $blue-light;
                    background-color: $white;
                    padding: rem(10px);
                    margin-right: rem(10px);
                    border-radius: 6px;
                }
            }

            .img-container {
                position: relative;

                &:hover {
                    img {
                        opacity: 0.7;
                    }

                    .middle {
                        opacity: 1;
                    }
                }

                img {
                    opacity: 1;
                    display: block;
                    transition: .5s ease;
                    width: 100%;
                    height: 240px;
                    object-fit: cover;
                }

                .middle {
                    background-color: $blue-light;
                    padding: 14px 16px 10px;
                    transition: .5s ease;
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                }
            }

            h4 {
                margin: rem(10px) 0 0 0;
                color: $blue-light;
            }

            h3 {
                margin: rem(10px) 0 rem(20px) 0;
                color: $blue-medium;
            }

            p {
                font-size: rem(15px);
                margin-bottom: rem(20px);
            }

            .see-more {
                display: inline-block;
                text-transform: uppercase;
                font-weight: bold;
                padding: rem(10px) rem(15px);
                margin-top: rem(20px);
            }
        }
    }

    section.infos {
        background-color: $blue-medium;

        .wrap {
            padding: rem(60px) 0 rem(40px);
        }

        .infos-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .infos-box {
            width: 100%;
            margin-bottom: rem(20px);
            padding: rem(30px) rem(25px);

            h4 {
                margin: 0 0 rem(30px) 0;
                text-align: center;
                text-transform: uppercase;
            }

            p {
                text-align: center;
                font-size: rem(15px);
            }


            &:nth-child(1) {
                background-color: $grey-light;

                p {
                    margin: 0 0 rem(15px);
                }

                .content-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }

            &:nth-child(2) {
                background-color: $blue-light;

                h4 {
                    color: $white;
                }

                p {
                    font-size: rem(10px);
                    line-height: rem(15px);
                    color: $white;
                    margin: rem(35px) 0 0 0;
                }

                .content-container {
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;

                    .btn-blue-hover-dark-blue {
                        background-color: $blue-dark !important;
                        position: relative;
                        padding: 12px 20px 12px 45px;

                        &:before {
                            content: url('../../../branchet/library/images/icons/paperplane.svg');
                            position: absolute;
                            top: 15px;
                            left: 15px;
                        }

                        &:hover {
                            color: $white !important;
                            background-color: $blue-medium !important;
                        }
                    }
                }
            }

            &:nth-child(3) {
                background-color: $grey-light;

                .content-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }

            img {
                width: 90px;
                object-fit: cover;
                display: block;
                margin: 0 0 rem(35px);
            }
        }
    }

    section.partner {
        background-color: $white;


        .wrap {
            padding: rem(100px) 0;
            position: relative;
        }

        .partner-slides {
            img {
                width: 170px;
            }
        }


        .dots-header {
            display: block;
            position: absolute;
            left: 50%;
            bottom: 25px;
            transform: translateX(-50%);

            .slick-dots {
                display: flex;
                justify-content: center;

                li {
                    width: rem(7px);
                    height: rem(7px);
                    margin: rem(7px);

                    &.slick-active {
                        button {
                            opacity: 1;
                            background-color: $blue-light;
                        }
                    }

                    button {
                        text-indent: -9999px;
                        background-color: $blue-light;
                        border-radius: 100%;
                        border: none;
                        opacity: 0.25;
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        margin: 0;
                        transition: all 0.3s ease;

                        &:hover {
                            opacity: 1;
                            background-color: $blue-light;
                        }

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
        }
    }

    section.testimony {
        background-color: $blue-light;

        .wrap {
            padding: rem(100px) 0;
            position: relative;
        }

        h2.main-title {
            color: white;
            margin-top: 0;

            &:before {
                border-bottom: 3px solid $white;
            }
        }


        .testimony-slide {
            margin: 0 rem(150px);
            background-color: $white;
            padding: rem(115px) rem(40px) rem(50px);
            display: flex;
            flex-direction: column;
            align-items: center;

            h4 {
                color: $blue-light;
                font-size: rem(15px);
                display: inline;
            }

            span a {
                color: $black;
            }
        }

        .slick-arrow {
            position: absolute;
            z-index: 1;
            display: block !important;
            transform: none;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: none;
            background-color: $white;

            &.slick-prev {
                top: 50%;

                &::after {
                    content: url(../images/icons/arrow-left-slider.svg);
                    width: rem(16px);
                    top: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    cursor: pointer;
                }

                &:hover {
                    &::after {
                        content: url(../images/icons/arrow-left-slider-white.svg);
                    }
                }
            }

            &.slick-next {
                top: 50%;
                right: 0;

                &::after {
                    content: url(../images/icons/arrow-right-slider.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: rem(15px);
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                }

                &:hover {
                    &::after {
                        content: url(../images/icons/arrow-right-slider-white.svg);
                    }
                }
            }

            &:focus {
                outline: none;
            }

            &:hover {
                background-color: $blue-dark;
                @include transition();
            }
        }

        .dots-testimony {
            display: flex;
            justify-content: center;

            .slick-dots {
                display: flex;
                justify-content: center;

                li {
                    width: rem(7px);
                    height: rem(7px);
                    margin: rem(7px);

                    &.slick-active {
                        button {
                            opacity: 1;
                            background-color: $black;
                        }
                    }

                    button {
                        text-indent: -9999px;
                        background-color: $black;
                        border-radius: 100%;
                        border: none;
                        opacity: 0.25;
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        margin: 0;
                        transition: all 0.3s ease;

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
        }

        .container {
            display: flex;
            justify-content: center;
            margin-top: rem(20px);

            a {
                color: $white;
                margin: 0 auto;
            }
        }
    }