#inner-header {
    background-color: $blue-medium;
    div.content-inner-header {
        display: flex;
        align-content: flex-start;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        padding: 16px 0;
        #navigation {
            display: none;
        }
        
        #navigation.show-menu {
            display: block;
            transition: .3s ease-out;
            opacity: 1;
            top: 68px;
            z-index: 9999;
            visibility: visible;
        }
        #navigation {
            visibility: hidden;
            transition: .5s ease-in;
            opacity: 0;
            position: absolute;
            display: block;
            font-family: $montserrat-extrabold;
            text-transform: uppercase;
            width: 100%;
            background-color: $blue-medium;
            color: $white;
            top: 135px;
            left: 0;
            height: fit-content;
            padding: 0px 25px;
            z-index: 999;
            ul#menu-main-menu {
                // Liens normaux
                >li.menu-item {
                    font-size: 0.8rem;
                    margin-bottom: 15px;
                    // display: flex;
                    a {
                        &:hover {
                            color: $white !important;
                        }
                    }
                }
                // Lien avec enfants
                >li.menu-item-has-children {
                    position: relative;
                    &::after {
                        // Fleche à droite dans le menu mobile
                        position: absolute;
                        top: 0;
                        right: 0;
                        content: url(../images/header/arrow-right.svg);
                        background-color: $blue-light;
                        cursor: pointer;
                        width: 15px;
                        height: 15px;
                        padding: 2.5px;
                        border-radius: 6px;
                    }
                    // Premiers éléments d'un sous-menu
                    >ul.sub-menu {
                        position: relative;
                        >li {
                            margin-bottom: 25px;
                            a {
                                
                                font-family: $montserrat-medium;
                                letter-spacing: 0.48px;
                                font-size: 13px;
                            }
                            // Sous menu du sous menu 
                            ul {
                                display: block;
                                li {
                                    // Puce dans le sous-menu
                                    &:before {
                                        content: '\002022';
                                        margin-right: 25px;
                                        color: $blue-light;
                                        font-size: 30px;
                                        line-height: 30px;
                                        vertical-align: bottom;
                                    }
                                }
                            }
                        }
                    }
                }
                >li.menu-item-has-children.dropped-down {
                    &::after {
                        content: url(../images/header/arrow-down.svg);
                    }
                }
            }
            ul.sub-menu {
                display: none;
            }
            // Section "une urgence?"
            div.hotline {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                a {
                    width: 30px;
                    height: 30px;
                    img {
                        padding: 6px;
                        border-radius: 5px;
                        width: 30px;
                        height: 30px;
                        background-color: #FFA573;
                    }
                }
                .hotline-content {
                    margin-left: 10px;
                    .hotline-text {
                        &:hover {
                            color: $white;
                        }
                    }
                    p {
                        margin: 0;
                        line-height: 1.2;
                    }
                }
            }
            // Section external links ≠
            .externals-links-mobile {
                display: flex;
                flex-direction: column;
                &::before,
                &::after {
                    content: '';
                    height: 2px;
                    margin: 40px;
                    width: 90%;
                    margin-left: 4%;
                    background-color: $blue-light;
                    text-align: center;
                }
                a {
                    background-color: $blue-medium;
                    padding-left: 0;
                    font-family: $montserrat-medium;
                    font-size: 12px;
                    &:after {
                        margin-left: 5px;
                        content: url(../images/header/extern.svg);
                    }
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
        // Navigation Mobile Visible
        // Hamburger à gauche
        #burger {
            order: -1;
            padding: 8px 10px 8px 10px;
            border: 0;
            border-radius: 4px;
            background-color: $white;
            &::before {
                content: url(../images/header/menu.svg);
            }
            // Quand le menu hamburger est actif 
            &.is-active {
                &::before {
                    content: url(../images/header/cross.svg);
                }
            }
            ul#menu-main-menu {
                display: none;
            }
        }
        // Logo Branchet
        #logo {
            img {
                width: 100px;
                max-width: 100px;
            }
        }
        // Logo User
        #user {
            padding: 6.5px 9px 2.5px 9px;
            border: 0;
            border-radius: 4px;
            background-color: $blue-light;
            &:hover {
                background-color: $blue-dark;
            }
            img {
                width: 17px;
                max-width: 17px;
            }
        }
        .right-menu {
            position: fixed;
            top: 400px;
            right: 0;
            z-index: 999;
            .right-menu-phone-content,
            .right-menu-mail-content {
                display: block;
                visibility: hidden;
                color: $white;
                font-family: $montserrat-semibold;
                padding-top: 10px;
                font-size: 12px;
                text-align: center;
                top: -53px;
                width: 132px;
                position: relative;
                left: -32px;
                height: 45px;
                opacity: 0%;
                background-color: rgba($blue-medium, 0.7);
                transition: .3s ease-in;
            }
            .right-menu-hotline-content {
                display: block;
                visibility: hidden;
                color: $white;
                font-family: $montserrat-semibold;
                line-height: 1.5;
                padding-top: 5px;
                font-size: 12px;
                text-align: center;
                top: -53px;
                width: 132px;
                position: relative;
                left: -32px;
                height: 45px;
                background-color: #FFA573;
                opacity: 0%;
                transition: .3s ease-in;
            }
            .right-menu-hotline {
                width: 45px;
                height: 45px;
                .right-menu-hotline-image {
                    img {
                        width: 45px;
                        height: 45px;
                        padding: 10px;
                        background-color: #ffa573;
                    }
                }
                &:hover {
                    .right-menu-hotline-content {
                        left: -132px;
                        opacity: 1;
                        visibility: visible;
                        animation: right-menu-in .3s;
                    }
                }
            }
            .right-menu-mail {
                width: 45px;
                height: 45px;
                .right-menu-mail-image {
                    img {
                        width: 45px;
                        height: 45px;
                        padding: 10px;
                        background-color: rgba($blue-medium, 0.7);
                    }
                }
                &:hover {
                    background-color: $blue-medium;
                    .right-menu-mail-content {
                        opacity: 1;
                        left: -132px;
                        visibility: visible;
                        animation: right-menu-in .3s;
                        background-color: $blue-medium;
                    }
                }
            }

            //Menu mobile
            .right-menu-phone {
                width: 45px;
                height: 45px;
                .right-menu-phone-image {
                    img {
                        width: 45px;
                        height: 45px;
                        padding: 10px;
                        background-color: rgba($blue-medium, 0.7);
                    }
                }
                &:hover {
                    background-color: $blue-medium;
                    .right-menu-phone-content {
                        left: -132px;
                        opacity: 100%;
                        visibility: visible;
                        background-color: $blue-medium;
                        animation: right-menu-in .3s;
                    }
                }
            }
        }
    }
}

.externals-links {
    display: none;
}

@keyframes menu-appear {
    from {
        top: 80;
        opacity: 0;
    }
    to {
        top: 58;
        opacity: 100%;
    }
}



// @keyframes menu-disapear {
//     from {
//         transform: translateY(0px);
//         opacity: 100%;
//     }
//     to {
//         transform: translateY(20px);
//         opacity: 0;
//     }
// }
@keyframes right-menu-in {
    from {
        opacity: 0;
        left: -32px;
    }
    to {
        left: -132px;
        opacity: 100%;
    }
}