body.page-id-1736 {
    .article-header {
        // Ne pas afficher le titre de la page
        .entry-title {
            display: none;
        }
    }
    .entry-content {
        .wp-block-separator {
            margin-top: 60px;
        }
        .title-separator {
            border: 0;
            width: 100px;
            height: 4px;
            margin-top: 0px;
            background-color: $blue-light;
        }
        h1 {
            text-transform: uppercase;
            margin-bottom: 25px;
        }
        .wp-block-media-text__media {
            img {
                border-radius: 0;
            }
        }
        .wp-block-media-text__content {
            align-self: center;
        }
    }
}