body.single-speciality {
    h1.entry-title{
        display: none;
    }

    h1{
        margin-bottom: 40px;
    }

    h2{
        margin-top: 80px;
        text-align: center;
    }

    .first-column .wp-block-column:first-child{
        margin-bottom: 40px;
    }

    .wp-block-media-text__media{
        img{
            border-radius: 0;
        }
    }

    .wp-block-media-text__content{
        p{
            margin-bottom: 30px;
        }
    }

    .first-column{
        margin-bottom: 0px;
    }


    .wp-block-media-text{
        margin-bottom: 50px;
    }

    .text-know{
        margin-top: 100px;
        text-align: left;
    }
}